/* Move down content because we have a fixed navbar that is 50px tall */
body {
    font-family: 'Raleway', sans-serif;
    color: #343434;
}
#imgHeader {
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    z-index: 1;
    margin: 0;
}

.logo {
    font-size: 2em;
    color: white !important;
     color:rgba(255,255,255,0.9) !important;
}

#footer {
     height : 16em;
     background-color:#000000;   
    text-align: center;
    color: white;
    margin-top: 2em !important;
     width: 100% !important;
}


#derechos {
background-color:#373737;
color: white;
text-align:center;

}

#social-media {
 display:inline-block;
 text-align: center;
  margin-top : 3em;
}

#contactar {
padding-top:2em;
font-size:1.5em;


}


.ct {
    display:inline;

}
.center ul {
    list-style-type: none;
    margin: 0 auto;
    width:100%;
    padding: 0;
    overflow: hidden;
    text-align:center;
    
}


.center {
text-align:center;

}


.center ul li {
    display:inline-block;
}

.center li > p {
    padding-left:4em;
}

.center li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.contact {
    margin:2em;
   
    -webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.5); /* FF3.5+ */
      -ms-transform: scale(0.5); /* IE9 */
       -o-transform: scale(0.5); /* Opera 10.5+ */
          transform: scale(0.5);
}

#derechos  > p{
text-align:center;

}
.nvb  a {
    font-size: 1.3em;    
    transition: all .2s ease-in-out;
    color:rgba(255,255,255,0.9) !important;
}

.nvb a:hover {
    transform: scale(1.1);
        color:rgba(255,255,255,0.9) !important;

}




.footer-text {
margin-top: 6em;
    display:inline-block;

}

.myNav {
    background-color: transparent;
    z-index: 10;
    display: inline;
    padding: 0;
    margin: 3em;
    background: transparent;
    border-color: transparent;
    position:absolute;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}



.section{
    text-align:left;
}

.section h2{
    text-align:center;
}

.section p{
    margin-bottom: 2em;
    text-align:justify;
}


.section .btn-main{
    text-align:center;
}


.section > p{
    height:12em;
}


.main-paragraph{
    background-color:white;
}

/***/


@media (max-width: 992px) {

    .section{
        margin-left: 2em;
    }

    

}



